@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: "Jersey 10", serif;
    flex-direction: column;
}
.title{
    font-size: 80px;
    margin: 20px;
    color: #F14678;
    font-family: "Jersey 10", serif;
}
.container{
    width: 400px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 110px;
    color: white;
}
.b2, .b4, .b6, .b8{
    background-color: #BA2B3C;
}
.b1, .b3, .b5, .b7, .b9{
    background-color: #F14678;
}
.reset{
    font-family: "Jersey 10", serif;
    font-size: 40px;
    font-weight: 100;
    background-color:#F14678;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    visibility: hidden;
    cursor:pointer;
}
@media(max-width:430px){
    .container{
        width: 90%;
        gap: 3%;
    }
    .title{
        font-size: 70px;
    }
    .reset{
        font-size: 35px;
    }
    .btn{
        font-size: 80px;
    }
}
